@font-face{
    font-family: 'Digi';
    src: url('fonts/ds-digib.ttf');
}
#score{
    color:red;
    font-family: 'Digi';
    font-size:2.68em;
    background-color: black;
    width: 240px;
    height: 44px;
}